<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.los3molineros.logisticstycoon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ButtonChanger">
        <activity
            android:name=".view.FirstFieldsActivity"
            android:exported="true" />
        <activity
            android:name=".view.partnershipMenu.PartnershipActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.headquarterMenu.HeadquarterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.trucksMenu.TruckMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.userMenu.UserMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MenuActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>